<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hotlab</title>
</head>
<body>
<h3 class="mt-5">Live Streaming</h3>
<div id="map" style="width:100%;height:1300px;"></div>
<p><em></em></p> 

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9b9e710d125e7567e908683c816551e9"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(37.55611355451276, 127.04433381449518), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
var positions = [
    {
        content: '<div class="container">' +
                '    <div class="row">' +
                '        <div class="col-lg-8  offset-lg-2">' +
                '            <img src="{{ url_for("video_feed", id=1) }}" width="100%">' +
                '        </div>' +
                '    </div>' +
                '</div>',
        latlng: new kakao.maps.LatLng(37.55611355451276, 127.04433381449518)
    },
    {
        content: '<div class="container">' +
                '    <div class="row">' +
                '        <div class="col-lg-8  offset-lg-2">' +
                '            <img src="{{ url_for("video_feed", id=2) }}" width="100%">' +
                '        </div>' +
                '    </div>' +
                '</div>',
        latlng: new kakao.maps.LatLng(37.559365, 127.042098)
    }
];

for (var i = 0; i < positions.length; i ++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
        content: positions[i].content // 인포윈도우에 표시할 내용
        // removable : iwRemoveable
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    // kakao.maps.event.addListener(marker, 'click', makeClickListner(map, marker, infowindow));
}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}

// function makeClickListner(map, marker, infowindow) {
//     return function() {
//         infowindow.open(map, marker); 
//     };
// }

</script>
</body>
</html>